.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/* shared styles */
.bg-secondary {
    background-color: #FFF8F3;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border: none;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.text-center {
    text-align: center;
}

/* header */
.header {
    background-image: url('../assets/images/developer.png'),
        url('../assets/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul>li {
    list-style: none;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-right: 50px;
}

.dark-2 {
    color: #474747;
}


/* banner-styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: 700;
    color: #181818;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}

.banner-profile-pic {
    width: 580px;
}

.banner-content {
    max-width: 580 px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.item-description {
    font-weight: 600;
}

.about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* skill section styles */
.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 24px;
}

.experience-description,
.experience-sub-title {
    color: #757575;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-download-cv{
    margin-top: 50px;
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"],footer textarea{
    border-radius: 5px;
    background: white;
    width: 100%;
    display: block;
    height: 64px;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: 0;
}

/* responsive */

/* mobile */

@media screen and (max-width:576px) {
    .skills-container,  
    .resume-container, 
    .banner,
    nav,
    nav>ul,
    footer,
 .about-items{
        flex-direction: column;
    }
    .banner{
        margin: 20px;
    }
    .header{
        background-image: none;
    }
    .banner-profile-pic{
        width: 100%;
    }
    nav>ul{
        gap: 10px;
    }
   header .btn-primary{
        margin-bottom: 20px;
    }
  footer, .about{
    padding: 20px;
  }
  .footer-column{
    width: 100%;
  }
  footer input[type="text"], footer input[type="email"],footer textarea{
    width: calc(100% - 40px);
  }
}

/* tablet */

@media screen and (min-width:576px) and (max-width:990px) {
    .banner{
        flex-direction: column;
    }
    
}